@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Crimson+Text:wght@600&family=Diphylleia&family=Exo:wght@500&family=Fjalla+One&family=Great+Vibes&family=Lora&family=Montserrat&family=Noto+Serif&family=Poppins&display=swap');
:root {

  --primary-color: #025AA1;
  --secondary-color: #AE141D;
  --accent1-color: #FFFFFF;
  --accent2-color: #F3CC35;

  --heading-font: "Noto Serif", "Times New Roman", "Georgia";
  --paragraph-font: Poppins, Roboto, sans-serif;

  
  --headline-color-on-white: #025AA1;  
  --headline-color-on-color: white;  
  --paragraph-color-on-white: #025AA1;  
  --paragraph-color-on-color: white; 
  --paragraph-background-color: #025AA1  ;
  --nav-link-color: #FFFFFF;
  --nav-background-color: #025AA1;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #AE141D;
}


body {
    position: relative;
    margin: 0 auto;
    font-family: var(--heading-font);
    min-width: 350px;
}

p {
    font-family: var(--paragraph-font);
}
/* header part */
header {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    margin: 0 auto;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 10px;
}
header h1 {
    margin: 0 auto;
    margin-left: 0;
    margin-right: 0;
}
header img {
    width: 100px;
    margin-right: 10px;
}

/* hamburger menu part*/
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 3.8rem;
	right: 1rem;
}
.navigation {
    display: flex;
    flex-direction: column;
}
.navigation li {
	display: none;
}
#menu::before {
    content: "☰";
}
#menu.open::before {
	content: "❌";
}
#menu.open
{
    padding: 3px 1.5px 6px;
}
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

ul.navigation.open {
    margin: 0;
    padding-left: 0;
}
ul.navigation {
    padding: 0;
    margin: 0;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 25px;
}

nav ul li {
    font-family: var(--paragraph-font);
    text-decoration: none;
    list-style: none;
}
nav ul li:visited, nav ul li:active{
    font-family: var(--paragraph-font);
    text-decoration: none;
}
nav ul li:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-link-color);
}
nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
}
ul {
    margin: 0;
    padding-left: 0;
    text-align: center;
}

/* hero img part */
#hero {
    display: grid;
    grid-template-columns: auto 350px auto;
    grid-template-rows: auto auto auto;
    padding-bottom: 0;
    margin-bottom: 0;
    
}
#hero-box {
    z-index: 1;
    grid-column: 1/4;
    grid-row: 1/4;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 100%;  
    background-color: #AE141D;
}
.button-box {
    display: flex;
    z-index: 2;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    justify-self: center;
    align-items: center;
}
.join {
    
    font-family: var(--paragraph-font);
    font-size: 18px;
    color: var(--accent1-color);
    text-decoration: none;
    background-color: var(--secondary-color);
    padding: 15px 30px;
    border-radius: 5px;
}
.join:hover {
    background-color: var(--primary-color);
}

/* main part */
main {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
    padding-top: 10px;
    background-color: var(--nav-hover-background-color);
}
main h2 {
    text-align: center;
    margin-bottom: 0;
}
section {
    background-color: var(--accent1-color);
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    color: var(--headline-color-on-white);
    margin-bottom: 20px;
}
section:nth-last-of-type(2) {
    margin-top: 20px;
}
section h3 {
    text-align: left;
    color: var(--headline-color-on-white);
    border-bottom: 1px solid #025AA1;
    padding: 10px;
    margin-top: 0;
}
.center {
    text-align: center;
}
.adv-grid {
    background-color: var(--accent1-color);
    margin-top: 0;
    display: flex;
    flex-direction: column;
}
.adv-grid div{
    border: 1px solid #025AA1;
    text-align: center;
}
.adv-grid h3{
    color: #025AA1;
    text-decoration: underline;
}
.adv-grid p {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: #025AA1;
}
/* footer part */
footer {
    background-color: var(--paragraph-color-on-white);
    color: var(--accent1-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    text-align: center;
}
footer a {
    text-decoration: none;
}
.social {
    padding-bottom: 15px;
    text-decoration: none;
}
.social img {
    border-radius: 10%;
    margin-left: 5px;
}
footer p{
    margin: 0;
    padding-bottom: 5px;
}
hr {
    width: 100%;
}
.opposite {
    display: none;
}

/* Discover Page new CSS */
#discover-header {
    background-color: #025AA1;
    border-bottom: 0px;
}
.discover-nav {
    border-bottom: 1px solid black;
}
#discover-main {
    padding-bottom: 10px;
}

#discover-img img {
    width: 100%;
    height: auto;
}
.discover-section h3{
    text-align: center;
}
.discover-section br.appear {
    display: none;
}
