@media screen and (min-width: 720px) {
    body {
        position: relative;
        max-width: 1600px;
        align-items: center;
    }

    #menu {
        display: none; /* hide hamburger button */
    }
    header {
        border-bottom: 0;
    }
    header br {
        display: none;
    }
    .appear {
        display: inline;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .navigation {
        flex-direction: row;
        margin: 0;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    main {
        padding-left: 10%;
        padding-right: 10%;
    }
    main h2 {
        text-align: left;
    }

    .section-grid {
        display: grid;
        grid-template-columns: 1fr 280px;
        grid-gap: 1.2rem;
    }
    section {
        box-shadow: 0px 0px 9px 0px #000000;
        border-radius: 5px;
        border: 0;
        padding-bottom: 5px;
        margin-top: 20px;
        margin-bottom: 10px;
        display: inline;
    }
    section:nth-of-type(1)
    {
        grid-column: 1/2;
    }
    section h3 {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    .adv-grid {
        margin-top: 30px;
        flex-direction: row;
    }
    .adv-grid div {
        width: 100%;
    }
    .join {
        font-size: 28px;
    }
    footer {
        flex-direction: row;
        flex-wrap: wrap;
    }
    footer hr {
        display: block;
    }
    footer br {
        display: none;
    }
    .social {
        display: flex;
        flex-direction: row;
        margin-right: 20px;
    }
    .opposite {
        display:block;
    }
    /* discover page */
    #discover-main {
        background-color: #AE141D;
        display: grid;
        grid-template-columns: 250px auto;
        grid-column-gap: 20px;
        padding-left: 5%;
        padding-right: 5%;
    }
    #discover-main h2 {
        text-align: center;
    }
    .discover-section {
        grid-column: 1/2;
    }
    .discover-section br.appear {
        display: inline;
    }
    #discover-img {
        grid-column: 2/3;
        grid-row: 1/8;
    }
    #discover-img img {
        transform: scale(0.9);
    }

    #discover-img img:hover {
        transition: transform .5s;
        opacity: .7;
        transform: scale(0.95);
        rotate: .01turn;
        filter: saturate(200%);
    }

    .discover-footer {
        background-color: #025AA1;
    }
}

