@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Bebas+Neue&family=Crimson+Text:wght@600&family=Diphylleia&family=Exo:wght@500&family=Fjalla+One&family=Great+Vibes&family=Lora&family=Montserrat&family=Noto+Serif&family=Poppins&display=swap');
body {
    margin: 0 auto;
    font-family:Diphylleia, Helvetica, sans-serif;
    
    /* min-width: 375px; */
}
header {
    background-color: #1D4D72;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
}
header h1 {
    display: inline;
}
header img {
    width: 80px;  
    height: auto;
    margin: 0 30px;
    box-shadow: 0px 1px 20px 4px #000000;
    border-radius: 10px;  
}
#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 1.57rem;
	cursor: pointer;
    color: white;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 1px 6px;
	background-color: #eee;
	color: #000;
}

#menu::before {
	content: "☰";
}
nav {
    font-size: 25px;
}

nav a:hover {
    background-color: #595958;
}
nav  a:link:active, nav a:visited:active {
    color: white;
}
.nav-item {
    flex: 1;
    text-align: center;
    padding: 10px;
}
.active {
    font-weight: bold;
    background-color: #643219;
}
/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 5.6rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}
#menu.open
{
    padding: 3px 1.5px 6px;
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: black;
	color: #fff;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color: #595958;
	color: white;
    text-decoration: none;
	
}
.navigation li a:visited, .navigation li a:link {
	color: white;
    text-decoration: none;
}
/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}
ul.navigation.open {
    margin: 0;
    padding-left: 0;
}
ul.navigation {
    padding: 0;
    margin: 0;
}
picture img {
    width: 100%;
    height: auto;
}
main {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 18px;
    padding-top: 1px;
    background-color: white;
}
.hero {
    position: relative;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 50%;
    transform: translateX(-50%);
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;	
}

.herolabel p {
	margin: 0;
    text-align: center;
	padding: .25rem;
	font-weight: 700;
	font-size: 2rem;
	font-family:"Great Vibes", serif;
    min-width: 165px;
}
main h2 {
    text-align: center;
    margin-bottom: 0;
}
section {
    border-radius: 5px;
    border: 1px solid black;
    padding-bottom: 5px;
}
section:nth-last-of-type(2) {
    margin-top: 20px;
}
section h3 {
    background-color: #1D4D72;
    color: white;
    padding: 10px;
    margin-top: 0;
}
ul {
    list-style: none;
}

ul a:link, a:visited {
    color: blue;
    text-decoration: underline;
    cursor: auto;
}
  
ul  a:link:active, a:visited:active {
    color: blue;
}
ul.homework {
    padding-left: 20px;
}
ul.homework a:hover {
    font-weight: bold;
}
.center {
    text-align: center;
}
iframe {
    width: 100%;
}
footer {
    background-color: #1D4D72;
    color: white;
    text-align: center;
    font-size: large;
    margin: 0;
}
footer p:nth-of-type(1) {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 0;
    margin-top: 0; 
    flex-direction: column;
}
#flag {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    width: 60.27px;
}
#lastModified {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 25px;
    color: #F1F716;
}
.section-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.weather {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marg-bot {
    margin-bottom: 5px;
}

.marg-top {
    margin-top: 5px;
}