@media screen and (min-width: 720px) {
    body {
        position: relative;
        max-width: 960px;
    }

    #menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
        margin: 0;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
    picture img{
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
        height: auto;
    }
    .herolabel p {
        font-size: clamp(1px, 4vw, 40px);
    }
    .herolabel {
        top: clamp(1px, 4vw, 40px);
    }
    main h2 {
        text-align: left;
    }
    ul.homework {
        padding-left: 40px;
    }
    .section-grid {
        display: grid;
        grid-template-columns: 1fr 280px;
        grid-gap: 1.2rem;
    }
    section {
        box-shadow: 0px 0px 9px 0px #000000;
        border-radius: 5px;
        border: 0;
        padding-bottom: 5px;
        margin-top: 20px;
        margin-bottom: 10px;
        display: inline;
    }
    section:nth-of-type(1)
    {
        grid-column: 1/2;
    }
    section h3 {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    footer p:nth-of-type(1) {
        flex-direction: row;
        padding-top: 5px;
        padding-bottom: 0;     
    }
    #flag {
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 2px;
    }
}